@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.topbar-gradient {
  background: linear-gradient(to right, #6c5ce7, #3498db);
  box-shadow: 0 0 15px rgba(108, 92, 231, 0.5);
}

.hero-bg {
  background-image: url("/aethereon-grid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sci-fi-panel {
  background-color: rgba(44, 62, 80, 0.7);
  border: 1px solid #3498db;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.sci-fi-text-glow {
  text-shadow: 0 0 5px rgba(108, 92, 231, 0.7);
}

.sci-fi-border {
  border: 1px solid #6c5ce7;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(108, 92, 231, 0.5),
    inset 0 0 5px rgba(108, 92, 231, 0.3);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Remove arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.debug {
  border: 1px solid red;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #17043b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #5325a9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b3bbf;
}

/* Firefox Scrollbar Styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #5325a9 #17043b;
}

.clip-path-polygon {
  clip-path: polygon(
    0 0,
    /* Top-left */ 100% 0,
    /* Top-right */ 95% 100%,
    /* Bottom-right angled */ 5% 100% /* Bottom-left angled */
  );
}

.clip-path-polygon-tall {
  clip-path: polygon(
    0 0,
    /* Top-left */ 100% 0,
    /* Top-right */ 100% 90%,
    /* Angled cut start - lower down for taller elements */ 95% 100%,
    /* Angled cut end - more gradual slope */ 0 100% /* Bottom-left */
  );
}

.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
}
