@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.topbar-gradient{
  background: linear-gradient(to right, #5325A9, #5325A9);
}

.hero-bg{
  background-image: url('/der-rows.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}